#packageslist li {
	display: inline;
}
#uploaderslist li {
	display: inline;
}
h3.uploader {
	font-family:monospace;
        font-variant: small-caps;
	letter-spacing: 0.2em;
	background-color: #c70036;
	color: white;
	margin:0;
	padding: 0.5em;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5em;
	border-bottom: 1px solid #bbb;
}

span.type-I {
    color: #111;
    background-color: #C7EA3C;
    margin: 0 3px 0 0;
    padding: 1px 3px;
    font-family: monospace;
}

span.type-W {
    color: #000000;
    background-color: #FFDD22;
    margin: 0 3px 0 0;
    padding: 1px 3px;
    font-family: monospace;
}

span.type-E {
    color: #FFFFFF;
    background-color: #FF0000;
    margin: 0 3px 0 0;
    padding: 1px 3px;
    font-family: monospace;
}
span.type-X {
    color: #FFFFFF;
    background-color: #0000FF;
    margin: 0 3px 0 0;
    padding: 1px 3px;
    font-family: monospace;
}
